In [1]:
import pandas as pd 
import os

data = ('Kenya_Open_Data_Initiative_KODI_Primary_Schools.csv')

In [8]:
df = pd.read_csv(data)

In [10]:
df.head()

,X,Y,FID,Name_of_Sc,Level_,Status,SchSponsor,Type1,Type2,Type3,...,OthersF,NoTeaching,NonTeachin,Province,District,Division,Location,Costituenc,Latitude,Longitude
0,36.14,0.27,10001,CHEBIREBEI PRI,PRIMARY SCHOOL,PUBLIC,RELIGIOUS ORGANIZATION,MIXED,DAY ONLY,ORDINARY,...,0.0,0.0,0.0,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,SINENDE,0.27,36.14
1,36.17,0.26,10002,WASEGES PRI,PRIMARY SCHOOL,PUBLIC,RELIGIOUS ORGANIZATION,MIXED,DAY ONLY,ORDINARY,...,0.0,1.0,1.0,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,SINENDE,0.26,36.17
2,36.18,0.24,10003,KIRIBOT PRI,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,...,0.0,1.0,1.0,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,KABUSWO,0.24,36.18
3,36.19,0.21,10004,KABUSWO PRI SCH,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,...,0.0,2.0,0.0,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,KABUSWO,0.21,36.19
4,37.70,-0.88,10005,VONDENI PRI SCHOOL,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,...,0.0,1.0,1.0,EASTERN,MACHAKOS,MASINGA,KIVAA,MASINGA,-0.88,37.70

In [11]:
df.shape

(31230, 38)

In [12]:
df.describe()

,X,Y,FID,PupilTeach,ClassrmRat,ToiletRati,No_Classrm,BoysToilet,GirlsToilet,TeachersTo,...,authorityM,authorityF,PTA_BOG_M,PTA_BOG_F,OthersM,OthersF,NoTeaching,NonTeachin,Latitude,Longitude
count,31230.000000,31230.000000,31230.00000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,...,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000,31229.000000
mean,36.525398,-0.608358,15615.50000,31.162045,30.516667,34.776230,8.973710,4.563739,5.101444,1.907298,...,0.009927,0.019405,0.543245,0.455922,0.651766,0.683948,1.406993,0.858145,-0.608362,36.525356
std,1.549535,1.200350,9015.46879,24.833860,21.666361,33.623305,5.251853,4.029990,4.791238,1.492698,...,0.200464,0.317715,1.295726,1.223078,2.083962,2.068419,1.795247,2.389009,1.200369,1.549542
min,33.930000,-4.660000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.660000,33.930000
25%,35.010000,-1.230000,7808.25000,16.300000,17.300000,16.100000,7.000000,2.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-1.230000,35.010000
50%,36.810000,-0.560000,15615.50000,30.400000,29.600000,28.000000,8.000000,4.000000,4.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-0.560000,36.810000
75%,37.660000,0.090000,23422.75000,42.100000,40.800000,44.000000,11.000000,6.000000,7.000000,2.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.090000,37.660000
max,41.890000,5.290000,31230.00000,839.000000,839.000000,741.500000,121.000000,55.000000,196.000000,45.000000,...,10.000000,27.000000,22.000000,52.000000,51.000000,46.000000,41.000000,218.000000,5.290000,41.890000

In [13]:
df.dtypes

X              float64
Y              float64
FID              int64
Name_of_Sc      object
Level_          object
Status          object
SchSponsor      object
Type1           object
Type2           object
Type3           object
PupilTeach     float64
ClassrmRat     float64
ToiletRati     float64
No_Classrm     float64
BoysToilet     float64
GirlsToilet    float64
TeachersTo     float64
TotalToile     float64
TotalBoys      float64
TotalGirls     float64
TotalEnrol     float64
GO_KTSC_M      float64
GOK_TSC_F      float64
authorityM     float64
authorityF     float64
PTA_BOG_M      float64
PTA_BOG_F      float64
OthersM        float64
OthersF        float64
NoTeaching     float64
NonTeachin     float64
Province        object
District        object
Division        object
Location        object
Costituenc      object
Latitude       float64
Longitude      float64
dtype: object

In [14]:
df.BoysToilet.mean()

4.563738832495437

In [15]:
df.columns

Index(['X', 'Y', 'FID', 'Name_of_Sc', 'Level_', 'Status', 'SchSponsor',
       'Type1', 'Type2', 'Type3', 'PupilTeach', 'ClassrmRat', 'ToiletRati',
       'No_Classrm', 'BoysToilet', 'GirlsToilet', 'TeachersTo', 'TotalToile',
       'TotalBoys', 'TotalGirls', 'TotalEnrol', 'GO_KTSC_M', 'GOK_TSC_F',
       'authorityM', 'authorityF', 'PTA_BOG_M', 'PTA_BOG_F', 'OthersM',
       'OthersF', 'NoTeaching', 'NonTeachin', 'Province', 'District',
       'Division', 'Location', 'Costituenc', 'Latitude', 'Longitude'],
      dtype='object')

In [16]:
df.GirlsToilet.count()

31229

In [17]:
df.District.unique()

array(['KOIBATEK', 'MACHAKOS', 'KEIYO', 'TRANS MARA', 'MAKUENI',
       'LAIKIPIA', 'NAROK', 'BOMET', 'NAIROBI', 'BARINGO', 'KITUI',
       'ISIOLO', 'MERU NORTH', 'NANDI SOUTH', 'KIAMBU', 'THIKA', 'NYERI',
       'KERICHO', 'KWALE', 'KILIFI', 'MALINDI', 'MOMBASA', 'TANA RIVER',
       'BURETI', 'KAJIADO', 'NAKURU', 'SAMBURU', 'TAITA TAVETA',
       'KIRINYAGA', 'TRANS NZOIA', 'BUNGOMA', 'NANDI NORTH',
       'UASIN GISHU', 'MARAKWET', 'WEST POKOT', 'LAMU', 'NYANDARUA',
       'MARAGUA', 'MURANGA', 'MWINGI', 'TURKANA', 'MIGORI',
       'BUTERE/MUMIAS', 'KAKAMEGA', 'VIHIGA', 'BUSIA', 'SIAYA', 'LUGARI',
       'TESO', 'MT ELGON', 'SUBA', 'KISUMU', 'KURIA', 'BONDO', 'GUCHA',
       'NYAMIRA', 'HOMA BAY', 'RACHUONYO', 'NYANDO', 'CENTRAL KISII',
       'MANDERA', 'IJARA', 'GARISSA', 'WAJIR', 'MBEERE', nan,
       'MERU SOUTH', 'MERU CENTRAL', 'EMBU', 'MARSABIT', 'THARAKA',
       'MOYALE'], dtype=object)

In [18]:
df.GirlsToilet.value_counts()

4.0      4334
2.0      4291
1.0      3595
6.0      3117
3.0      3086
0.0      2564
8.0      2283
5.0      1893
10.0     1200
7.0      1067
12.0      777
9.0       687
11.0      362
14.0      360
16.0      342
13.0      232
15.0      203
18.0      190
20.0      148
17.0       87
22.0       64
19.0       53
24.0       53
21.0       47
26.0       34
23.0       30
28.0       25
25.0       23
30.0       15
31.0        9
32.0        8
39.0        5
27.0        5
34.0        5
33.0        4
40.0        4
29.0        3
55.0        3
45.0        2
42.0        2
43.0        2
64.0        2
38.0        2
49.0        2
36.0        2
37.0        2
82.0        2
60.0        1
41.0        1
196.0       1
Name: GirlsToilet, dtype: int64

In [20]:
def mapSchool(x):
    if x == "PUBLIC":
        return 1
    else:
        return 0

In [21]:
df['school_mapped_value'] = df.Status.apply(mapSchool)

In [22]:
df.school_mapped_value.value_counts()

1    23792
0     7438
Name: school_mapped_value, dtype: int64

In [23]:
pd.read_csv