
# Python Basics ðŸ˜‰

<div class="alert alert-success"><b>

<p>This notebook will just go through the basics of:</p>

<ul>
<li>Data types :</li><b>
<li> Numbers</li>
<li> Strings</li>
<li> Printing</li>
<li> Lists </li>
<li> Dictionaries</li>
<li> Booleans</li>
<li> Tuples </li>
<li> Sets</li>
<li>Comparison Operators : </li>
<li> if,elif,else Statement</li>
<li> for Loop</li>
<li> while Loop</li>

<li> range() </li>
<li> list comprehension </li>
<li> functions </li>
<li> lambda expressions </li>
<li> map and filter </li>
<li> some str & list methods </li>
</ul>
</div>

## ðŸ“Œ Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

## ðŸ“Œ Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

## ðŸ“Œ Lists

In [ ]:
a=[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
python_list = [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# Access by index
python_list[3]

In [ ]:
# Access by slice
python_list[2:5]

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest2 = [9,6,7,4]

In [ ]:
nest3 = nest + nest2
nest3

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

In [ ]:
nest[3][2]

### Operations on lists

In [ ]:
# Loop
for number in python_list:
    print(number)

In [ ]:
# List operations
sum(python_list)

## ðŸ“Œ Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

In [ ]:
python_dict = {'two': 2,
               'three': 3,
               'five': 5,
               'seven': 7,
               'eleven': 11,
               'thirteen': 13,
               'seventeen': 17,
               'nineteen': 19}

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW'

### Sets

In [ ]:
{1,2,3}

In [ ]:
g={1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,6,3,7,2,3,1,5,6,3,6,6,6,7,3,2,5,5}

In [ ]:
ko = [2,3,1,2,1,2,3,3,3,3,2,2,2,1]

set(ko)

In [ ]:
set(g)

In [ ]:
True?

## ðŸ”— Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
print(range(5,2))

In [ ]:
for i in range(0,15,2):
    print(i)

In [ ]:
list(range(5))

In [ ]:
print(list(range(0,25,2)))

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func()

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

Used to create small anonymous functions: ie functions without a name. 

These functions are throw-away functions, i.e. they are just needed where they have been created.

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

In [ ]:
t = lambda var:var * 2

t(3)

In [ ]:
list(map(lambda num: num*3, seq))

## map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## Some Methods

In [ ]:
st = 'hello my name is Robin'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'This is just fabulous! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
lst = [3,7,8]

In [ ]:
item = lst.pop()
item

In [ ]:
lst.append(11)

lst

In [ ]:
'x' in lst

In [ ]:
7 in lst

###  Tuple unpacking

In [ ]:
x = [(2,3), (4,5), (1,8)]

In [ ]:
x[1][0]

In [ ]:
for item in x:
    print (item)

In [ ]:
for a,b in x:
    print (b)

# :) A biscuit for this far  ðŸ˜€